
div {
    max-width: 1600px;
    margin: 0 auto;
}


div nav a {
    text-align: center;
    color: #5448c8;
    text-decoration: none;
}
div #hero-img h1 {
    text-align: center;
}
div #hero-img h4 {
    text-align: center;
}
div .button-box {
    text-align: center;
}
div main section {
    text-align: center;
}


#background {
    height: 725px;
}


body {
    background-color: #fffecb;
    color: #000;
}
header {
    background-color: #fea82f;
    color: #000;
}
nav a:hover {
    background-color: #5448c8;
    color: #fffecb;
}
.book, .join {
    background-color: #5448c8;
    color: #fffecb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 200px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #fea82f;
    color: #000;
}
#background {
    background-color: #fffecb;
    color: #000;
}
.msg {
    background-color: #fea82f;
    color: #000;
    padding: 35px;
}
footer {
    background-color: #5448c8;
    color: #fffecb;
    padding: 25px 50px;
}

.home-title {
    color: #fea82f;
    margin-top: 10px;
}
h4 {
    color: #5448c8;
}
.msg h2 {
    color: #fea82f;
}
.msg p {
    color: #5448c8;
    font-size: 8em;
    padding-bottom: 15px;
}
footer a {
    color: #fea82f;
    text-decoration: none;
}
footer a:hover {
    color: #5448c8;
}



.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}


footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

card-img {
    border: 10px solid #000;
}

main section img {
    box-sizing: border-box;
}